<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% endblock title %} - Image Processing Platform</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="//rawgit.com/vitalets/x-editable/master/dist/bootstrap3-editable/css/bootstrap-editable.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script src="//rawgit.com/vitalets/x-editable/master/dist/bootstrap3-editable/js/bootstrap-editable.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="//rawgit.com/vitalets/x-editable/master/dist/bootstrap3-editable/js/bootstrap-editable.js"></script>


    {% block css %}
   
    {% endblock css %}

    {% block js %}
  
    {% endblock js %}
</head>

<body>
    <!-- Navigation Bar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <!-- Navigation Head -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                     <span class="sr-only">Toggle navigation</span>
                     <span class="icon-bar"></span>
                     <span class="icon-bar"></span>
                     <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'home' %}">Image Processing Platform</a>
            </div>

            <!-- button -->
            <div id="navbar" class="navbar-collapse collapse">
                <!-- Training & Testing -->
                <ul class="nav navbar-nav">
                    <li><a href = "{% url 'upload_test' %}">Image Classfication</a></li>
                    <li><a href = "{% url 'topic' %}">Model Retraining</a></li>
                    <li><a href = "{% url 'info' %}">Information</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="http://greenbay.usc.edu/csci577/fall2016/projects/team04/">About us</a></li>
                </ul>
            </div>
        </div>
    </nav>
    

    <!-- Container -->
    {% block content %}
    {% endblock content %}
<div style = "height:60pt"></div>
</body>
</html>